//Font variable

$primary-font: "Hind", sans-serif;

$primary-body-bg: #fff;
$body-background: #f0f3f5;
$box-shadow: 0px 7px 30px 0px rgba(90, 114, 123, 0.12);

// Color

$gray-100: #f2f5f5;
$gray-200: #dadfe1;
$gray-300: #d1d5db;
$gray-400: #929fa6;
$gray-500: #3e545e;
$gray-600: #1e4354;
$gray-700: #374151;
$green-100: #e1f2ef;
$surface-bg: #12a188;
