* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.status-rejected {
  background-color: #fcebed;
  color: #dc3545;
}

.status-pending {
  background-color: #fff9e7;
  color: #f6b100;
}
.status-approved {
  background-color: #eaf7ed;
  color: #12b76a;
}

.status {
  padding: 0.7rem;
  border-radius: 1rem;
  text-align: center;
}
